aniso8601==8.0.0
attrs==19.3.0
bcrypt==3.1.7
cffi==1.14.0
click==7.1.2
Flask==1.1.2
Flask-Bcrypt==0.7.1
Flask-PyMongo==2.3.0
flask-restx==0.2.0
Flask-Script==2.0.6
Flask-Testing==0.8.0
importlib-metadata==1.6.0
itsdangerous==1.1.0
Jinja2==2.11.2
jsonschema==3.2.0
MarkupSafe==1.1.1
pycparser==2.20
PyJWT==1.7.1
pymodm==0.4.3
pymongo==3.10.1
pyrsistent==0.16.0
pytz==2020.1
six==1.14.0
Werkzeug==1.0.1
zipp==3.1.0
